<div>
  <button type="button" (click)="create80()">
    Créer un nouvel enregistrement
  </button>
</div>
<div class="table-container">
  <table class="table45">
    <thead>
      <tr>
        <th>Cat</th>
        <th>Titre</th>
        <th>Adresse URL</th>
        <th>Entreprise</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of addresses10">
        <td>{{a.catId}}</td>
        <td>{{a.title}}</td>
        <td>{{a.url}}</td>
        <td>{{a.enterprise}}</td>
        <td>
          <button (click)="edit(a)" class="btn-edit"></button>
          <button (click)="delete(a.id)" class="btn-delete"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Réinitialiser la base de données MySQL</h3>
  <p>Suppression de tous les enregistrements et rétablissement de la table MySQL <code>addresses</code> originale.</p>
  <div class="reset"><button (click)="resetDatabase()">Réinitialiser</button></div>
</div>